<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mixpanelToken</key>
	<string>8d72a7576d50237be8e9fe30b389f290</string>
	<key>officerPassword</key>
	<string>officer</string>
</dict>
</plist>
